In [1]:
import pandas as pd
print(pd.__version__)

2.2.0

C:\Users\Parlin\AppData\Local\Temp\ipykernel_10992\1804728916.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df = pd.DataFrame({'nama':['Messi', 'Ronaldo', 'James', 'Curry', 'Neymar'], 
                   'usia':[36, 38, 40, 35, 33],
                   'jns kel':['Pria', 'pria', 'pria','pria', 'pria'],
                   'kegiatan':['sepak bola', 'sepak bola', 'basket', 'basket', 'sepak bola'],
                   'shift':['Malam', 'Siang', 'Malam', 'Pagi', 'Siang']})
df

      nama  usia jns kel    kegiatan  shift
0    Messi    36    Pria  sepak bola  Malam
1  Ronaldo    38    pria  sepak bola  Siang
2    James    40    pria      basket  Malam
3    Curry    35    pria      basket   Pagi
4   Neymar    33    pria  sepak bola  Siang

In [12]:
mapping = {'pria':'P',
           'sepak bola':'S',
           'basket':'B',
           'Pagi':1,
           'Siang':2,
           'Malam':3}

df.applymap(mapping.get)

C:\Users\Parlin\AppData\Local\Temp\ipykernel_10992\1959320903.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(mapping.get)

   nama  usia jns kel kegiatan shift
0  None  None    None     None  None
1  None  None       P     None  None
2  None  None       P     None  None
3  None  None       P     None  None
4  None  None       P     None  None

In [13]:
df[['kegiatan', 'shift']] = df[['kegiatan', 'shift']].applymap(mapping.get)

df

C:\Users\Parlin\AppData\Local\Temp\ipykernel_10992\3561001762.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['kegiatan', 'shift']] = df[['kegiatan', 'shift']].applymap(mapping.get)

      nama  usia jns kel kegiatan shift
0    Messi    36    Pria     None  None
1  Ronaldo    38    pria     None  None
2    James    40    pria     None  None
3    Curry    35    pria     None  None
4   Neymar    33    pria     None  None