In [5]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.0
1.26.3

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
df

   A  B  C  D  E
0  2  8  5  9  8
1  9  4  1  5  9
2  6  5  4  2  4
3  3  9  7  5  4
4  7  7  6  2  7
5  3  6  4  7  6
6  7  9  8  8  1
7  8  1  3  4  2
8  1  8  9  7  4
9  7  9  3  4  4

In [3]:
(df['A'] < 5).sum()

4

In [4]:
(df['A'] < 5).mean()

0.4