In [8]:
import pandas as pd
print(pd.__version__)

2.2.0

In [2]:
d = {'pelanggan':[2, 17, 26, 30], 
     'kepuasan':['baik', 'buruk', 'sangatbaik', 'cukup']}

df = pd.DataFrame(d)
df

   pelanggan    kepuasan
0          2        baik
1         17       buruk
2         26  sangatbaik
3         30       cukup

In [3]:
from pandas.api.types import CategoricalDtype

tingkat_kepuasan = CategoricalDtype(['buruk', 'cukup', 'baik', 'sangatbaik'], 
                                    ordered=True)

df['kepuasan'] = df['kepuasan'].astype(tingkat_kepuasan)
df

   pelanggan    kepuasan
0          2        baik
1         17       buruk
2         26  sangatbaik
3         30       cukup

In [4]:
df = df.sort_values('kepuasan', ascending=True)
df

   pelanggan    kepuasan
1         17       buruk
3         30       cukup
0          2        baik
2         26  sangatbaik

In [5]:
df[df['kepuasan'] >= 'cukup']

   pelanggan    kepuasan
3         30       cukup
0          2        baik
2         26  sangatbaik

In [6]:
df[df['kepuasan'] >= 'buruk']

   pelanggan    kepuasan
1         17       buruk
3         30       cukup
0          2        baik
2         26  sangatbaik

In [7]:
df[df['kepuasan'] >= 'sangatbaik']

   pelanggan    kepuasan
2         26  sangatbaik